%h2 #{@sets.count} open requests

%p.pull-right
  - if !authorized?
    %a.btn.btn-info{ :href => '/login'} Login

%br

%table.table.table-bordered
  - @sets.each do |set|
    %tr
      %td{ :id => 'set%s' % set.id, :class => :set }
        %div
          %span{ :class => 'status %s' % (format_set_status(set))}
          %h4
            ="##{set.id}"
            %a{ :href => '/set/%s' % set.id}=set.patches.first.message[0..50]
          %p.info.pull-left
            %b=set.author
            recorded this set
            %em=Time.parse(set.created_at.to_s).ago_in_words
          - if !set.patches.empty?
            %p.updated.pull-left
              %small Updated #{Time.parse(set.patches.max(:updated_at).to_s).ago_in_words}

